.isLoading {
    &.formRoute {
        &.warning {
            & .preloader {
                left: 50%;
                transform: translate(-50%, -40%);
            }
        }
        & .preloader {
            left: 50%;
            transform: translate(-50%, -20%);
        }
    }
}

.preloader {
    position: absolute;
}