@import '../../../../assets/styles/variables';

.lines {
    margin-bottom: 8px;
}

.lines__list {

}

.lines__item {
    &.novisible {
        & .line__pattern {
            background-color: transparent;
        }
    }
}

.line__pattern {
    width: 2px;
    height: 8px;
    background-color: $line-color;
    margin: 0 auto;
}