@import '../../assets/styles/variables.scss';

.error404 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error404__container {
    text-align: center;
    background-color: rgba($black_color, .7);
    color: $white_color;
    padding: 10px;
}

.error404__description {
    margin-bottom: 15px;
}
