@import '../../../assets/styles/variables.scss';

.form__title {
    font-weight: $bold;
}

.form__elements {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;

    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__row {
    position: relative;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    &.button-submit {
        & button {
            display: block;
            font-size: 21px;
            //padding: 6px 54px;
            margin-left: auto;
        }
    }
}

.form__row {
    width: 100%;
}
